# ignore node modules
node_modules

# ignore bundle.js
public/bundle.js
public/bundle.js.map

#ignore runtime datastore directory contents
/server/json_modified/**

#IDE stuff
.vscode

# npm log et al
*.log
.idea
