.volunteer-list-tab-component {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.volunteers-title {
  display: inline;
}

.add-volunteers-button {
  float: right;
}

.search-volunteer {
  margin-top: 15px;
}

.volunteer-department-dropdown {
  margin-top: -10px;
  margin-left: 10px;
}

.volunteer-department-dropdown .dropdown-toggle {
  color: #333333;
  background-color: #fafafa;
  border-color: #333333;
  border-radius: 7px;
}

.volunteer-list-department-logo {
  width:60px;
  height:60px;
  padding:1px;
  border:1px solid #6e7379;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: -12px;
}

.volunteer-list-group {
  margin-top: 30px;
}

.no-volunteers {
  margin-top: 30px;
}

.volunteer-list-group-item-header {
  display: flex;
  font-weight:bold;
}

.volunteer-list-group-item {
  display: flex;
}

.ellipsis-text {
  text-overflow: ellipsis;
  overflow: hidden;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.flex3 {
  flex: 3;
}