.error, .error:focus {
    border-color: #ff4500;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,69,0,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,69,0,.6);
}

.error-div {
    color: red;
    margin-left: 10px;
}

.add-volunteer-save {
  float: right;
  margin-top: -30px;
  margin-right: 35px;
}

.add-volunteer-options {
  display: flex;
  margin-left: -5px;
  margin-right: -5px;
}

.add-volunteer-form-group {
  flex: 1;
  padding-left: 5px;
  padding-right: 5px;
}

.add-volunteer-emails {
  min-height: 200px;
}