.volunteer-list-tab-component {
  .container {
    width: 90%;
  }

  table {
    background-color: white;
    margin-top: 3px;
    table-layout: fixed;
    tbody {
      tr {
        display: flex;

        &:hover {
          background-color: #e0e0e0;
          cursor: pointer;
        }

        &:focus {
          outline: none;
        }

        &.invalid:not(:hover) {
          background-color: #ffcece;
        }

        &.invalid:hover {
          background-color: #dac5c5;
        }

        &.missing-sign:not(:hover) {
          background-color: #fce1b9;
        }

        &.missing-sign:hover {
          background-color: #dad2c3;
        }

        &.manager {
          font-weight: bold;
        }
        input[type=checkbox] {
          transform: scale(1.5);
        }
      }
    }
  }

  .volunteer-list-group-item {
    display: flex;
  }

  .volunteer-list-group-item:focus {
      outline: none;
  }

  .volunteer-list-group-item.invalid {
      background-color: #ffcece !important;
  }

  .volunteer-list-group-item.invalid:hover {
      background-color: #e2d5d5 !important;
  }


  .volunteer-list-tab-component {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .volunteers-title {
    display: inline;
  }

  .add-volunteers-button {
    float: right;
  }

  .search-volunteer {
    margin-top: 15px;
  }

  .volunteer-department-dropdown {
    margin-top: -10px;
    margin-left: 10px;
  }

  .volunteer-department-dropdown .dropdown-toggle {
    color: #333333;
    background-color: #fafafa;
    border-color: #333333;
    border-radius: 7px;
  }

  .volunteer-list-department-logo {
    width: 60px;
    height: 60px;
    padding: 1px;
    border: 1px solid #6e7379;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: -12px;
  }

  .volunteer-list-list-title {
    margin-top: 25px;
    font-size: 30px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
  }

  .volunteer-list-list-title span {
    padding: 0;

    .counter {
      font-weight: 100;
      font-size: 20px;

    }
  }

  .volunteer-list-list-title .btn {
    padding: 5px;
  }

  .no-volunteers {
    margin-top: 3px;
  }
  .round-ticket-count {
    overflow: hidden;
  }
  .volunteer-list-group-item-header {
    display: flex;
    font-weight: bold;
  }

  .ellipsis-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .flex1 {
    flex: 1;
    flex-shrink: 0;
  }

  .flex2 {
    flex: 2;
    flex-shrink: 0;
  }

  .flex3 {
    flex: 3;
    flex-shrink: 0;
  }

  h4 {
    text-align: left;
  }

  .tags-header {
    display: flex;
    align-items: center;
  }

  .tags-header > input {
    margin-right: 0.5rem;
  }
}