.profile-alert {
    margin: 20px 0px;
}

.status {
    .add-section {
        display: flex;
        flex-direction: row;

        .add-button {
            height: 43px;
            margin-top: 25px;
            margin-left: 15px;
        }
        
        .add-error {
            text-align: center;
            padding-top: 7px;
            margin-left: 15px;
        }
    }
}

.are-you-sure {
    margin-top: 10px;

    .are-you-sure-button {
        margin-top: 10px;
        margin-right: 10px;
        width: 80px;
    }
}