.add-section {
  display: flex;
  flex-direction: row;
}

.edit-volunteer-save {
    height: 43px;
    width: 100px;
    margin-top: 25px;
    margin-left: 15px;
}

.edit-volunteer-form-group {
  flex: 1;
  padding-left: 5px;
  padding-right: 5px;
}

.edit-volunteer-title {
  display: block;
}

.edit-volunteer-delete {
  margin-top: 10px;
}

.volunteer-edit-data-section {
  margin-top: 5px;
  margin-bottom: 20px;
}

.volunteer-edit-data {
  display: flex;
  margin-top: 3px;
}

.volunteer-edit-data-title {
  display: inline;
  flex: 1;
  color: #737373
}

.volunteer-edit-data-info {
  flex: 4;
}