.admin-view{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-departments {
  display: inline;
}

.admin-add-button {
  float: right;
}

.admin-department-list {
  margin-top: 20px;
}

.admin-department-logo {
  width:60px;
  height:60px;
  padding:1px;
  border:1px solid #6e7379;
  border-radius: 5px;
  float: left;
  margin-right: 10px;
}

.admin-edit-button{
  margin-top: -20px;
  margin-left: -18px;
}