.time-clock {
  .dropdown, .dropdown-toggle {
    width: 100%;
  }

  .shift-comment {
    width: 100%;
    text-align: right;
    border: 1px solid darkgray;
  }

  input[type="text"] {
    border: 1px solid darkgray;
    float: right;
  }

  .shift-color {
    display: inline-block;
    width: 10px;
    height: 10px;
  }
}