.fill-form-view {

    .rtl {
        direction: rtl;

        .radio-inline, .checkbox-inline {
            padding-right: 20px;
        }

        .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
            margin-right: -20px;
        }

        .radio, .checkbox {
            padding-right: 20px;
        }
    }

    .form-group {
        padding: 10px;
    }

    .button-container {
        display: flex;
        align-items: center;
        flex-direction: column;

        .send {
            width: 150px;
        }

        .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
            opacity: 0.3;
        }
    }
}