.join-process-modal {
    .department-logo {
        width:60px;
        height:60px;
        padding:1px;
        border:1px solid #6e7379;
        border-radius: 5px;
        float: left;
        margin-right: 10px;
      }
      
      .title {
        display: block;
        padding-top: 17px;
      }

      .lan-btn {
        float: right;
        margin-top: -40px;
        margin-right: 20px;
      }
      
      .save {
        float: right;
        margin-top: -34px;
        margin-right: 35PX;
      }

      .done-join {
        text-align: center;
      }
}