.requests-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.requests-title {
  margin-top: 0px;
}

.requests-list {
  margin-top: 15px;
}

.requests-department-top {
  display: flex;
  align-items: center;
}

.requests-department-title {
  flex-grow: 2;
  margin: 0px;
}

.requests-department-text {
  margin-top: 15px;
  white-space: pre-line;
}

.request-department-logo {
  flex: 0 0 auto;
  width:60px;
  height:60px;
  padding:1px;
  border:1px solid #6e7379;
  border-radius: 5px;
  margin-right: 15px;
}


