.form-editor {
  .question {
    padding: 2rem;

    & > header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > h3 {
        margin: 0;
      }
    }

    .option {
      display: flex;
    }
  }

  footer {
    display: flex;
    justify-content: space-between;

    & > button {
      width: 200px;
      margin-bottom: 10px;
    }
  }
}