.shift-manager {
    overflow: scroll;
    min-height: 500px;
    .shift-manager-header {
        display: flex;
    }

    input[type="color"] {
        width: 50px;
    }

    .shift-manager-roster {
        display: flex;
        min-height: 800px;

        .day-view {
            display: flex;
            flex: 1;
            flex-direction: column;

            .table {
                flex: 1;
            }
        }
    }
}