.shift-manager {
    overflow: scroll;
    min-height: 500px;
    min-height: 968px;
    .header {
        height: 30px;
        background: darkblue;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .row-header {
        > div {
            display: flex;
            align-items: center;
        }
        vertical-align: middle;
    }
    .shift-manager-header {
        display: flex;
    }

    input[type="color"] {
        width: 50px;
    }

    .shift-manager-roster {
        display: flex;
        min-height: 800px;

        .day-view {
            display: flex;
            flex: 1;
            flex-direction: column;

            .table {
                flex: 1;
            }
        }
    }
}