.shift-box {
    &.focused {
        .box .toolbar {
            visibility: visible;
        }
    }
    .box {  
        border: solid black 1px;        

        .toolbar {
            visibility: hidden;
        }
        .title {
            font-weight: bold;
        }
    }

    position: relative;
}